.story {
    border:
        2px solid transparent !important;
    background-image:
        linear-gradient(#000000, #000000),
        linear-gradient(65deg,
            #f5d020 0%,
            #f53803 75%,
            #218FFA 100%);
    background-origin:
        border-box;
    background-clip:
        padding-box, border-box;
    border-radius: 50%;
    padding: 2px;
}

/* .carousel .slide img{
    border: 3 !important;
} */